@font-face {
    font-family: 'League Gothic';
    src: url('League_Gothic-webfont.eot');
    src: url('League_Gothic-webfont.eot?') format('embedded-opentype'),
    url('League_Gothic-webfont.woff') format('woff'),
    url('League_Gothic-webfont.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
}
body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
#loading, #pause, #next, #song, #creator, #info, #hideInfo {
    font-size: 60px;
    color: #fff;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    /*background-color: #111;*/
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*opacity: 0.9;*/
    border: 1px solid #ccc;
    text-align: center;
}

#loading a, #pause a, #next a, #song a, #creator, #info, #hideInfo a {
    display: none;
    color: #fff;
    text-shadow: 0 0 10px #fff;
    text-decoration: none;
    display: inline-block;
}

#loading p, p, h1{
    color: #fff;
    font-size: 18px;
}

#waveform { 
    position: fixed;
    z-index: -1;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
}
.wrap {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
#pause, #next, #song, #hideInfo {
    display: none;
    font-size: 25px;
    margin-top: 10px;
    color: #fff;
    width: 100px;
    /*display: inline-block;*/
}
#song {
    width: 300px;
    font-size: 21px;
}
#hideInfo a{
    width: 25%;     
}
#creator {
    position: fixed;
    font-size: 16px;
    bottom: 10px;
    width: 250px;
    text-align: center;
    box-sizing: border-box;
    left: calc(50% - 125px);
    margin-right: auto;
}
#info {
    position: fixed;
    /*max-height: 300px;*/
    left: calc(50% - 250px);
    top: 50%;
    margin-top: -150px;
    vertical-align: middle;
    display: block;
    background-color: #000;
}
#info img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 3px solid #fff;
    box-shadow: 0 0 10px #fff;
}
