/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; box-sizing: border-box;}

::selection {
  background: #F20233; /* WebKit/Blink Browsers */
  color: #ffffff;
}
::-moz-selection {
  background: #F20233; /* Gecko Browsers */
  color: #ffffff;
}

body {
	background-color: #F3EFE6;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	width: 100%;
}

header {
	width: 100%;
	background-color: #00AA9A;
 	padding: 40px 0 60px 0;
    border-bottom: 4px solid #343434;
}	
	header:after {
		background-size: 5px;
	}
	nav {
		padding: 6px;
		background-color: #191B28;
		text-align: center;
	}
	nav a {
		color: #ECF0F1/*#F20233*/;
		border-right: 1px solid #fff;
		padding: 6px;
		padding-left: 0px;
	}
	nav a:hover {
		background-color: #073D63;
		color: #ECF0F1;
	}
	nav a:last-of-type {
		border-right: none;
	}

a {
	color: #E83A25;
	text-decoration:none;
	text-transform:uppercase;
	transition: all .2s;
}
a:hover {
	color: #073D63;
}

h1 {
	font-family: 'Rye', arial;
    font-weight: normal;
    color: transparent; 
    font-size: 100px;
    text-align: center;
    margin-top: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgoKPHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0iIzA3M0Q2MyI+PC9yZWN0Pgo8L3N2Zz4=") repeat;
    background-color: #191B28;
    -webkit-background-clip: text;
}

main {
	padding: 3em;
}

section {
	background-color: #fff;
	padding: 20px;
	width: 75%;
	margin: 0px auto;
}
	p {
		color: #191B28;
		margin: 10px;
		margin-top: 0px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #151621;
	}
	p:last-of-type {
		border-bottom: none;
	}
	
	img {
		width: 100px;
		margin: 10px auto;
		border-radius: 50%;
	}
