@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; box-sizing: border-box;}
::selection {
	background-color: #DC3522;
	color: white;
}
body {
	background-color: #D9CB9E;
	font-family: 'Lato', sans-serif;
	width: 100%;
	overflow: hidden;
}
h1 {
	color: #1E1E20;
	margin: 0 auto;
	width: 100%;
	border-bottom:10px solid #DC3522;
}
p {
	padding: 10px;
	letter-spacing: 1px;
	color: #374140;
}
.topImg{
	position: fixed;
	right: 0;
	top: 0;
	background-color: #374140;
	width: 200px;
	height: 250px;
}
.topImg>img, .bottomImg>img {
	width: 200px;
	height: 200px;
}
.topImg>p, .bottomImg>p {
	color: white;
}
.bottomImg {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #374140;
	width: 200px;
	height:; 250px;
}

#one{
	width: 50%;
	height: 350px;
	margin: 0 auto;
	text-align: center;
	position: relative;   
}
#one>img {
	border: 5px solid #374140;
	border-radius: 50%;
	width: 200px;
}
.your-class {
	width: 50%;
	margin: 10px auto;
}
.your-class>div img {
	margin: 0 auto;
}