/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; box-sizing: border-box; transition: all .5s;}
::selection {
  background: #568599; /* WebKit/Blink Browsers */
  color: #ffffff;
}
::-moz-selection {
  background: #568599; /* Gecko Browsers */
  color: #ffffff;
}
html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body {
	/*background-color: #F3EFE6;*/
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}

header {
	width: 100%;
	background:
    linear-gradient(
      rgba(0, 170, 154, 0.35),
      rgba(0, 170, 154, 0.35)
    ), url(../images/reno.jpg) no-repeat center;
	background-size: cover;
 	padding: 125px 0 0 0;
	height: 100%;
}
	header:after {
		background-size: 5px;
	}


a {
	color: #BD4932;
	text-decoration:none;
	transition: all .5s;
}
a:hover {
	text-decoration: underline;
}

h1 {
	font-family: 'Rye', arial;
    font-weight: normal;
    color: transparent;
    font-size: 4em;
    text-align: center;
    margin-top: 0;
 	color: #191B28;
	transition: all 1s;
}
h2 {
	margin: 10px;
}

.center {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

section {
	/*background-color: #fff;*/
	padding: 20px 0;
	padding-bottom: 0;
	width: 100%;
	margin: 0px auto;
	overflow-y: hidden;
}
	section.blue {
		background-color: #105B63;
	}
		section.blue p {
			color: white;
			margin-top: 25px;
			margin-bottom: 25px;
		}
	section.red {
		background-color: #BD4932;
	}
		section.red p {
			color: #191B28;
		}
	section.white {
		background-color: #DB9E36;
	}
		section.white p {
			color: #191B28;
		}
	.inner-content {
		max-width: 1240px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	img {
		width: 220px;
	}

/******************************\
*      Scroll Bar Styles       *
\******************************/

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
		width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #191B28;
    width: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#code {
	border-radius: 5px;
	max-width: 750px;
	margin: 0 auto;
	padding-top: 15px;
	font-size: 30px;
	background: #ccc;
	font-family: 'Monaco', 'Courier New';
	text-align: left;
	font-size: 13px;
	color: #fafafa;
	-webkit-transition: all .75s;
	transition: all .75s;
}

#console {
	width: 100%;
	padding: 10px;
	height: 100%;
	margin: 0 auto;
	background: #383737;
}

.down {
	margin-top: 75px !important;
	opacity: 0;
}

.up {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	opacity: 1;
	transition: all 1.5s;
}

span.answer {
	color: #ccc;
}
/* Media Queries for inner-content and code block */

@media (max-width: 1240px) {
	.inner-content {
		margin: 0 15px;
	}
}

@media (max-width: 750px) {
	#code {
		margin: 0 15px;
	}
}