/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}
@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; box-sizing: border-box;}

::selection {
  background: #F20233; /* WebKit/Blink Browsers */
  color: #ffffff;
}
::-moz-selection {
  background: #F20233; /* Gecko Browsers */
  color: #ffffff;
}

body {
	background-color: #F3EFE6;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	width: 100%;
}

header {
	width: 100%;
	background-color: #00AA9A;
 	padding: 40px 0 0 0;
    /*border-bottom: 4px solid #343434;*/
}	
	header:after {
		background-size: 5px;
	}
	nav {
		padding: 6px;
		font-size: 0px;
		width: 100%;
		background-color: #191B28;
		text-align: center;
	}
	nav a {
		color: #ECF0F1/*#F20233*/;
		font-size: 17px;
		padding: 6px;
		margin: 0px;
	}
	nav a:hover {
		color: #073D63;
		background-color: #ECF0F1;
	}
	nav a:last-of-type {
		border-right: none;
	}

a {
	color: #E83A25;
	text-decoration:none;
	text-transform:uppercase;
	transition: all .5s;
}
a:hover {
	color: #073D63;
}

h1 {
	font-family: 'Rye', arial;
    font-weight: normal;
    color: transparent; 
    font-size: 100px;
    text-align: center;
    margin-top: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgoKPHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0iIzA3M0Q2MyI+PC9yZWN0Pgo8L3N2Zz4=") repeat;
    background-color: #191B28;
    -webkit-background-clip: text;
    -webkit-animation:slide 1s linear infinite;-moz-animation:slide 1s linear infinite;-ms-animation:slide 1s linear infinite;-o-animation:slide 1s linear infinite;animation:slide 1s linear infinite;
}
@-webkit-keyframes slide { to { background-position: 5px 5px; } }
@keyframes slide { to { background-position: 5px 5px; } }
h2 {
	margin: 10px;
}

main {
	padding: 3em;
}

section {
	background-color: #fff;
	padding: 20px;
	width: 75%;
	margin: 0px auto;
	margin-bottom: 20px;
	overflow-y: auto;
}
	.half {
		float: left;
		display: block;
		width: 50%;
	}
	p {
		color: #191B28;
		margin: 10px;
		margin-top: 0px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #151621;
	}
	p:last-of-type {
		border-bottom: none;
	}
	
	img {
		width: 100px;
		margin: 10px auto;
		border-radius: 50%;
	}

/* The element to hover over */
.devicons {
  position: relative;
  font-size:35px;
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px)
 {
	.devicons .popover {
	 	background-color: #191B28;
		border-radius: 5px;
		bottom: 28px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
		color: #fff;
		opacity: 0;
		font-size: 12px;
		font-family: 'Helvetica',sans-serif;
		left: -33px;
		padding: 7px 10px;
		position: absolute;
		text-align: center;
		width: 100px;
		z-index: 4;
		transition: all .5s;
	}
	.devicons .popover:before {
	  border-top: 7px solid rgba(0, 0, 0, 0.85);
	  border-right: 7px solid transparent;
	  border-left: 7px solid transparent;
	  bottom: -7px;
	  content: '';
	  display: block;
	  left: 50%;
	  margin-left: -7px;
	  position: absolute;
	}
	.devicons:hover .popover, .devicons:active .popover {
	  display: block;
	  opacity: 0.95;
	  bottom: 40px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	main {
		padding: 1%;
	}
	section {
		width: 98%;
	}
	.devicons {
		display: block;
		height: 35px;
		line-height: 35px;
	}
	.devicons > .popover {
		height: 30px;
		display: inline-block;
		vertical-align: middle;
		font-size: 17px;
		opacity: 1;
		position: relative;
	}
}		

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	main {
		padding: 1%;
	}
	section {
		width: 98%;
	}
		.half {
			border-bottom: 1px dashed #151621;
			width: 100%;
		}
		.half:last-of-type {
			border-bottom: none;
		}
		.devicons {
			display: block;
			height: 35px;
			line-height: 35px;
		}
		.devicons .popover {
			height: 30px;
			display: inline-block;
			vertical-align: middle;
			font-size: 17px;
			opacity: 1;
			position: relative;
		}

}
